*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  font-family: "Mulish", sans-serif;
}
@media (max-width: 1150px) {
  body.lock {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.burger {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  margin: 0 0 0 auto;
}
@media (max-width: 1150px) {
  .burger {
    display: block;
  }
}
.burger:before, .burger:after {
  content: "";
}
.burger:before, .burger:after,
.burger span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.5s;
}
.burger span {
  top: calc(50% - 1px);
}
.burger:after {
  top: calc(100% - 2px);
}
.burger.active span {
  width: 0;
}
.burger.active:before {
  top: 50%;
  transform: rotate(-45deg);
}
.burger.active:after {
  top: 50%;
  transform: rotate(45deg);
}

.header {
  background-color: #092340;
  position: relative;
  min-height: 160px;
}
.header__flex {
  display: flex;
}
.header__flex .icon__search {
  margin-right: 30px;
}
.header__flex .icon__phone {
  margin-right: 20px;
}
.header__logo {
  display: block;
  position: absolute;
  max-width: 300px;
}
@media (max-width: 768px) {
  .header__logo {
    max-width: 100px;
  }
}
@media (max-width: 480px) {
  .header__logo {
    position: static;
    margin: 0 auto;
  }
}
.header__top {
  border-bottom: 1px solid #112e4f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}
.header__top .header__flex {
  justify-content: flex-end;
  align-items: center;
}
.header__login {
  height: 50px;
  display: flex;
  align-items: center;
  background: #112e4f;
  color: #fff;
  text-decoration: none;
  padding: 0px 30px;
  gap: 10px;
}
.header__bottom {
  padding: 40px 0 22px 0;
}

.container {
  max-width: 1236px;
  width: 100%;
  padding: 0px 10px;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.icon {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon__search {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMTEgMTlhOCA4IDAgMSAwIDAtMTYgOCA4IDAgMCAwIDAgMTZabTEwIDItNC4zNS00LjM1Ii8+PC9zdmc+");
}
.icon__phone {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMjIgMTYuOTJ2M2ExLjk5OCAxLjk5OCAwIDAgMS0yLjE4IDIgMTkuNzkxIDE5Ljc5MSAwIDAgMS04LjYzLTMuMDcgMTkuNTAyIDE5LjUwMiAwIDAgMS02LTYgMTkuNzkgMTkuNzkgMCAwIDEtMy4wNy04LjY3QTIgMiAwIDAgMSA0LjExIDJoM2EyIDIgMCAwIDEgMiAxLjcyYy4xMjcuOTYuMzYyIDEuOTAzLjcgMi44MWEyIDIgMCAwIDEtLjQ1IDIuMTFMOC4wOSA5LjkxYTE2IDE2IDAgMCAwIDYgNmwxLjI3LTEuMjdhMiAyIDAgMCAxIDIuMTEtLjQ1Yy45MDguMzM4IDEuODUuNTczIDIuODEuN0EyIDIgMCAwIDEgMjIgMTYuOTJaIi8+PC9zdmc+");
}
.icon__login {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGQ9Ik0xNSAzaDRhMiAyIDAgMCAxIDIgMnYxNGEyIDIgMCAwIDEtMiAyaC00bS01LTQgNS01LTUtNW01IDVIMyIvPjwvc3ZnPg==");
}
.icon__right {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDEyIDE2Ij48cGF0aCBmaWxsPSIjMUE0QTgxIiBkPSJNMSA3YTEgMSAwIDAgMCAwIDJWN1ptMTAuNzA3IDEuNzA3YTEgMSAwIDAgMCAwLTEuNDE0TDUuMzQzLjkyOUExIDEgMCAwIDAgMy45MyAyLjM0M0w5LjU4NiA4bC01LjY1NyA1LjY1N2ExIDEgMCAxIDAgMS40MTQgMS40MTRsNi4zNjQtNi4zNjRaTTEgOWgxMFY3SDF2MloiLz48L3N2Zz4=");
}
.icon__adres {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIj48cGF0aCBkPSJNMjEgMTBjMCA3LTkgMTMtOSAxM3MtOS02LTktMTNhOSA5IDAgMSAxIDE4IDBaIi8+PHBhdGggZD0iTTEyIDEzYTMgMyAwIDEgMCAwLTYgMyAzIDAgMCAwIDAgNloiLz48L2c+PC9zdmc+");
}
.icon__fb {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIyMiIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDEzIDIyIj48cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjYiIGQ9Ik0xMiAxSDlhNSA1IDAgMCAwLTUgNXYzSDF2NGgzdjhoNHYtOGgzbDEtNEg4VjZhMSAxIDAgMCAxIDEtMWgzVjFaIi8+PC9zdmc+");
}

.menu {
  margin: 0;
  padding: 0;
  padding-left: 206px;
  list-style: none;
  display: flex;
  align-items: center;
}
@media (max-width: 1150px) {
  .menu {
    display: none;
  }
  .menu.active {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    padding: 40px 20px;
    background-color: #092340;
    z-index: 9999;
  }
  .menu.active li {
    margin-bottom: 20px;
  }
}
.menu__item {
  margin-right: 30px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  text-decoration: none;
  color: inherit;
}

.rmbtn {
  display: flex;
  padding: 14px 42px;
  color: #fff;
  border: 1.5px solid #ffffff;
  border-radius: 6px;
  background-color: transparent;
  outline: none;
  text-decoration: none;
}

.head {
  position: relative;
}
.head__slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.head__slider .slick-list,
.head__slider .slick-track {
  height: 100%;
}
.head__slider_arrows {
  height: 45px;
  display: flex;
  width: 100px;
  z-index: 1;
}
.head__slider_arrow {
  width: 44px;
  height: 44px;
  flex: 0 0 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  border: 1.5px solid transparent;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
  cursor: pointer;
}
.head__slider_arrow:last-child {
  margin-right: 0;
}
.head__slider_arrow:hover {
  border: 1.5px solid #e2e2e8;
}
.head__slider_arrow.left {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBzdHJva2U9IiNFMkUyRTgiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMTkgMTJINW03LTctNyA3IDcgNyIvPjwvc3ZnPg==");
}
.head__slider_arrow.right {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBzdHJva2U9IiNFMkUyRTgiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNNSAxMmgxNG0tNy03IDcgNy03IDciLz48L3N2Zz4=");
}
.head__slider_bullets {
  z-index: 1;
}
.head__slider_bullets .slick-dots {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 0 20px 0;
}
.head__slider_bullets .slick-dots button {
  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  border: none;
  font-size: 0;
  width: 8px;
  height: 8px;
  margin-right: 5px;
}
.head__slider_bullets .slick-dots .slick-active button {
  background-color: rgb(255, 255, 255);
}
.head__slide {
  position: relative;
}
.head__slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.head__wrapper {
  min-height: 740px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.head__wrapper:before {
  content: "";
  position: absolute;
  left: -112px;
  bottom: 0;
  background: #092340;
  opacity: 0.8;
  width: 400px;
  height: 320px;
}
.head__title {
  margin: 20px 0px;
  z-index: 1;
  font-weight: 700;
  font-size: 32px;
  max-width: 260px;
}
.head__btn {
  z-index: 1;
  padding: 14px 50px;
  background: #f5a801;
  border-radius: 6px;
  outline: none;
  text-decoration: none;
  color: #fff;
  max-width: 186px;
  margin-bottom: 50px;
}

.mainblocks {
  margin-top: 40px;
  overflow: hidden;
}
.mainblocks__wrapper {
  margin: 0 -10px;
  display: flex;
}
@media (max-width: 768px) {
  .mainblocks__wrapper {
    display: block;
  }
}
.mainblocks__block {
  margin: 10px;
  flex: 0 0 calc(33.3333% - 20px);
  padding: 50px 20px 36px 20px;
  background: url("../img/Img.jpg") no-repeat center center/cover;
}
.mainblocks__block_title {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 40px;
  position: relative;
}
.mainblocks__block_title:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #ea9009;
  left: 0;
  bottom: -20px;
}
.mainblocks__block_btn {
  padding: 14px 20px;
  display: block;
  border: 1.5px solid #ffffff;
  border-radius: 6px;
  text-decoration: none;
  outline: none;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}
.mainblocks__block_btn:hover {
  background-color: #fff;
  color: #1a4a81;
}
.mainblocks__block_btn:hover:after {
  content: "Learn more";
  position: absolute;
  right: 20px;
  top: 14px;
  color: #ea9009;
}
.mainblocks__block_btn:last-child {
  margin-bottom: 0;
}

.services {
  margin-top: 40px;
  overflow: hidden;
}
.services__wrapper {
  display: flex;
  margin: 0 -10px;
}
@media (max-width: 768px) {
  .services__wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .services__wrapper {
    display: block;
  }
}
.services__item {
  margin: 10px;
  flex: 0 0 calc(25% - 20px);
  border: 1px solid #90b7e2;
}
@media (max-width: 768px) {
  .services__item {
    flex: 0 0 calc(50% - 20px);
  }
}
.services__item_poster {
  position: relative;
  width: 100%;
  padding-bottom: 84%;
  margin-bottom: 20px;
}
.services__item_poster img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services__item_content {
  padding: 0px 15px 22px 15px;
}
.services__item_text {
  font-size: 14px;
  color: #37393d;
  margin: 10px 0px;
}
.services__item_btn {
  display: flex;
  padding: 14px;
  width: 100%;
  text-align: center;
  justify-content: center;
  color: #084e95;
  border: 1px solid #084e95;
  transition: 0.5s;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.services__item_btn:hover {
  background-color: #084e95;
  color: #fff;
}

.calendar {
  margin-top: 40px;
  overflow: hidden;
}
.calendar__arrow {
  width: 44px;
  height: 44px;
  flex: 0 0 44px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.calendar__arrow.left {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NCIgaGVpZ2h0PSI0NCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDQ0IDQ0Ij48ZyBzdHJva2U9IiNmZmYiIGZpbHRlcj0idXJsKCNhKSI+PHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0yOSAyMkgxNW03LTctNyA3IDcgNyIvPjxyZWN0IHdpZHRoPSI0MyIgaGVpZ2h0PSI0MyIgeD0iLjUiIHk9Ii41IiByeD0iMjEuNSIvPjwvZz48ZGVmcz48ZmlsdGVyIGlkPSJhIiB3aWR0aD0iNTIiIGhlaWdodD0iNTIiIHg9Ii00IiB5PSItNCIgY29sb3ItaW50ZXJwb2xhdGlvbi1maWx0ZXJzPSJzUkdCIiBmaWx0ZXJVbml0cz0idXNlclNwYWNlT25Vc2UiPjxmZUZsb29kIGZsb29kLW9wYWNpdHk9IjAiIHJlc3VsdD0iQmFja2dyb3VuZEltYWdlRml4Ii8+PGZlR2F1c3NpYW5CbHVyIGluPSJCYWNrZ3JvdW5kSW1hZ2VGaXgiIHN0ZERldmlhdGlvbj0iMiIvPjxmZUNvbXBvc2l0ZSBpbjI9IlNvdXJjZUFscGhhIiBvcGVyYXRvcj0iaW4iIHJlc3VsdD0iZWZmZWN0MV9iYWNrZ3JvdW5kQmx1cl81MTBfNDc1NCIvPjxmZUJsZW5kIGluPSJTb3VyY2VHcmFwaGljIiBpbjI9ImVmZmVjdDFfYmFja2dyb3VuZEJsdXJfNTEwXzQ3NTQiIG1vZGU9Im5vcm1hbCIgcmVzdWx0PSJzaGFwZSIvPjwvZmlsdGVyPjwvZGVmcz48L3N2Zz4=");
}
.calendar__arrow.right {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NCIgaGVpZ2h0PSI0NCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDQ0IDQ0Ij48ZyBzdHJva2U9IiNmZmYiIGZpbHRlcj0idXJsKCNhKSI+PHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0xNSAyMmgxNG0tNy03IDcgNy03IDciLz48cmVjdCB3aWR0aD0iNDMiIGhlaWdodD0iNDMiIHg9Ii41IiB5PSIuNSIgcng9IjIxLjUiLz48L2c+PGRlZnM+PGZpbHRlciBpZD0iYSIgd2lkdGg9IjUyIiBoZWlnaHQ9IjUyIiB4PSItNCIgeT0iLTQiIGNvbG9yLWludGVycG9sYXRpb24tZmlsdGVycz0ic1JHQiIgZmlsdGVyVW5pdHM9InVzZXJTcGFjZU9uVXNlIj48ZmVGbG9vZCBmbG9vZC1vcGFjaXR5PSIwIiByZXN1bHQ9IkJhY2tncm91bmRJbWFnZUZpeCIvPjxmZUdhdXNzaWFuQmx1ciBpbj0iQmFja2dyb3VuZEltYWdlRml4IiBzdGREZXZpYXRpb249IjIiLz48ZmVDb21wb3NpdGUgaW4yPSJTb3VyY2VBbHBoYSIgb3BlcmF0b3I9ImluIiByZXN1bHQ9ImVmZmVjdDFfYmFja2dyb3VuZEJsdXJfNTEwXzQ3NTkiLz48ZmVCbGVuZCBpbj0iU291cmNlR3JhcGhpYyIgaW4yPSJlZmZlY3QxX2JhY2tncm91bmRCbHVyXzUxMF80NzU5IiBtb2RlPSJub3JtYWwiIHJlc3VsdD0ic2hhcGUiLz48L2ZpbHRlcj48L2RlZnM+PC9zdmc+");
}
.calendar__wrapper {
  background: #084e95;
  display: flex;
  align-items: center;
  padding: 0 50px;
  position: relative;
}
.calendar__main {
  width: calc(100% - 88px);
}
.calendar__date {
  padding: 20px 0px;
}
.calendar__date_item {
  text-align: center;
}
.calendar__date_day {
  font-weight: 600;
}
.calendar__date_number {
  font-weight: 700;
  font-size: 40px;
}
.calendar__news {
  display: flex;
  margin: 40px -10px 0px;
}
@media (max-width: 768px) {
  .calendar__news {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .calendar__news {
    display: block;
  }
}
.calendar__newscard {
  margin: 10px;
  border: 1px solid #e2e2e8;
  flex: 0 0 calc(20% - 20px);
  padding: 20px;
}
@media (max-width: 768px) {
  .calendar__newscard {
    flex: 0 0 calc(50% - 20px);
  }
}
.calendar__newscard_title {
  font-weight: 600;
  font-size: 18px;
  color: #37393d;
  margin-bottom: 60px;
}
.calendar__newscard_link {
  display: flex;
  width: 24px;
  height: 24px;
}

.opportunity {
  overflow: hidden;
  margin-top: 40px;
}
.opportunity__wrapper {
  display: flex;
}
@media (max-width: 800px) {
  .opportunity__wrapper {
    display: block;
  }
}
.opportunity__left {
  position: relative;
  align-self: flex-start;
  flex: 0 0 400px;
  padding: 90px 10px 56px 0px;
}
.opportunity__left:before {
  content: "";
  position: absolute;
  top: 0;
  left: -300px;
  right: -200px;
  height: 100%;
  background: #1a4a81;
  z-index: -1;
}
.opportunity__left p {
  max-width: 392px;
  font-size: 18px;
}
.opportunity__title {
  max-width: 392px;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 32px;
}
.opportunity__cards {
  background: #fff;
  display: flex;
  padding: 90px 100px;
  margin-top: 200px;
  border: 1px solid #90b7e2;
}
@media (max-width: 1000px) {
  .opportunity__cards {
    padding: 90px 30px;
  }
}
@media (max-width: 800px) {
  .opportunity__cards {
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .opportunity__cards {
    display: block;
  }
}
.opportunity__card {
  margin: 10px;
  flex: 0 0 calc(33.3333% - 20px);
  color: #084e95;
}
@media (max-width: 480px) {
  .opportunity__card {
    display: flex;
    flex-wrap: wrap;
  }
}
.opportunity__card_icon {
  margin-bottom: 10px;
  max-width: 60px;
  max-height: 60px;
  flex: 0 0 60px;
}
.opportunity__card_title {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 10px;
}
.opportunity__card_text {
  color: #37393d;
  flex: 1 1 100%;
}

.footer {
  margin-top: 40px;
}
.footer__wrapper {
  padding: 48px 0px 0px 0px;
  background: #092340;
  overflow: hidden;
}
.footer__cols {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;
}
.footer__col {
  flex: 0 0 calc(20% - 20px);
  margin: 10px;
}
@media (max-width: 768px) {
  .footer__col {
    flex: 0 0 calc(50% - 20px);
  }
}
.footer__col_title {
  font-weight: 800;
}
.footer__col_links {
  padding: 0;
  list-style: none;
}
.footer__col_link {
  margin: 10px 0px;
}
.footer__col_link a {
  color: inherit;
  text-decoration: none;
}
.footer__text {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #90b7e2;
  width: 100%;
  background: #112e4f;
  padding: 10px 100px;
}
@media (max-width: 480px) {
  .footer__text {
    padding: 10px;
  }
}
.footer__bottom {
  margin-top: 61px;
  border-top: 1px solid #1a4a81;
  padding: 18px 0px 12px 0px;
}
.footer__bottom_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom_wrapper > * {
  flex: 0 0 33.3333%;
}
.footer__logo {
  text-align: center;
}
.footer__by {
  text-align: right;
}

.socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 10px;
}
.socials__item a {
  display: flex;
}